.sticky-offset {
	top: 240px;
}

#header{
	min-height: 240px;
	align-content: center;
}

#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
}
#body {
    background-color: cadetblue;
}
#canvas {
  display:none;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}
#footer {
	clear: both;
	margin:0 auto; 
	padding:0;
	text-align: center;
	color: white  ;
	text-shadow: 0 1px black;
	background-image: url('../img/header.png');
	margin-top:10px;

	padding-top:10px;
	padding-bottom:10px;
	position: relative;
	z-index: 2;
}

h1,h2 {
	margin-top: 0;
	margin-bottom: 0;
}

a.anchor {
    display: block;
    position: relative;
    top: -240px;
    visibility: hidden;
}

@media screen and (min-width: 960px) {
	html, body {
		color: #3a3a3a; 
		font-family: Verdana,Tahoma,Arial,sans-serif; 
		font-size: 16px;
		padding: 0;
		margin: 0;
		background-color: cadetblue;
	}


	#header {
         		background-color: #707070;
         		color: white  ;
         		text-shadow: 0 1px black;
         		text-align: center;
         		margin: 0 auto;
    }

	#header h1{
		text-align: center;
	}


	#wrapper {
		background:#FFFFFF; 
		margin:0 auto;
		padding: 0;
		width: 960px;
		padding-top: 240px;
	}

	
}

@media screen and (max-width: 959px) {
	html, body {
		color: #3a3a3a; 
		font-family: Verdana,Tahoma,Arial,sans-serif; 
		font-size:16px;
		padding: 0;
		margin: 0;
		background-color: cadetblue;
		margin: 0 auto;	
		min-width: 488px;
	}

	

	#header {
     		background-color: #707070;
     		color: white  ;
     		text-shadow: 0 1px black;
     		text-align: center;
     		margin: 0 auto;
     		min-width: 451px;
     }


	#wrapper {
		background:#FFFFFF;
		margin: 0 auto;	
		padding-top: 240px;
	}

	#navBar{
		padding: 0 0 0 0;
	}

}
